# IntelliJ
.idea

# Libraries
node_modules

# Terraform
.terraform
*.tfstate
*.tfstate.backup

# Client secret for the Google Sheets API, stored locally for convenience when testing app locally
google-sheets-client-secret.json

# Google Sheet ID, stored locally for convenience when testing app locally
google-sheet-id.json
